# Directories
temp/
TEMP/
tmp/
cache/


# specific
.gitignore
.htaccess
.htaccess.bk
.htaccess.bak
.htpasswd.mittwald
.htpasswd

# public/wp-config.php
public/wp-config-local.php
public/wp-content/cache/
# wp-config.php
wp-config-local.php
wp-content/cache/

cache/
log/
logs/
*.cache
*.lock


# Node artifact files
node_modules/
# dist/   WordPress JS Fehler werden verursacht bei ignore
# Large files
*.zip
*.mp4
*.mp3
*.mov
*.ogg
*.dmg
*.iso
*.pkg
*.rar
*.tiff
*.avi
*.flv
*.wmv
.DS_Store
*.jar
*.log
*.xip